@import "tailwindcss";

@theme {
  --font-Title: "Roboto Slab", sans-serif;
  --font-body: "Source Code Pro", sans-serif;

  --color-highlight: #ff9f43;
  --color-secondary: #f2f2f2;
  --color-back: #ffffff;
  --color-accent: #27ae60;
  --color-error: #ff5555;
}
